@font-face {
    font-family: odin-font;
    src: url(fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #3a3a3a;
    font-family: Roboto, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*placeholder*/
    text-align: center;
    display: flex;
    height: 100vh;
}

.left {
    background-image: url(img/sidebar-background-resized.jpg);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex: 1.5 1 100px;
}

.logo {
    font-family: odin-font;
    font-size: 102px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.credit {
    font-size: 14px;
    margin-bottom: 10px;
}

.left a:link {
    color: white;
}

.left a:visited {
    color: gray;
}

.form-main {
    background: rgb(242, 242, 242);
    flex: 3 3 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 30px;
}

.form-header {
    padding-left: 50px;
}

.form-legend {
    background: white;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.the-form {
    background: white;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 20px;
    justify-content: left;
}

.the-form-continued {
    padding: 25px 0 0px 50px;
}

.the-form-continued a:link, .the-form-continued a:visited {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

.the-form .input-box {
    width: calc(100%/2 - 120px);
}

.the-form .input-box input {
    height: 30px;
    width: 60%;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

.the-form .input-box input:focus {
    border: none;
    border: 3px solid blue;
    box-shadow: 0 2px 2px gray;
}

.the-form .input-box #pwd:invalid, .the-form .input-box #confirm-pwd:invalid {
    border: 1px solid red;
}

label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
}

button {
    font-size: 16px;
    background: #596D48;
    color: white;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 25px;
}

@media screen and (max-width: 700px) {
    body {
        flex-direction: column;
        
    }

    .logo {
        margin-top: 20px;
    }
}