@font-face {
    font-family: odin-font;
    src: url(fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #3a3a3a;
    font-family: Roboto, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*placeholder*/
    text-align: center;
    display: flex;
    height: 100vh;
}

.left {
    background-image: url(img/sidebar-background-resized.jpg);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex: 1.5 1 100px;
}

.logo {
    font-family: odin-font;
    font-size: 102px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.credit {
    font-size: 14px;
    margin-bottom: 10px;
}

.left a:link {
    color: white;
}

.left a:visited {
    color: gray;
}

.form-main {
    background: rgb(242, 242, 242);
    flex: 3 3 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 30px;
}

.form-header {
    padding: 30px;
}

.the-form {
    background: white;
    padding-left: 30px;
}

.the-form-continued {
    padding-left: 30px;
}

@media screen and (max-width: 700px) {
    body {
        flex-direction: column;
        
    }

    .logo {
        margin-top: 20px;
    }
}